.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  h2 {
    color: #ffb347;
    font-family: "Nanum Pen Script", Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 50px 0 0 0;
    text-align: center;
  }

  .text {
    font-size: 20px;
    text-align: center;
    margin: 60px 0 0 0;

    @media (min-width(1024px)) {
      color: red;
      width: 1200px;
    }
  }
}
