@mixin container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@mixin highlightedFont {
  font-family: "Gochi Hand", Arial, Helvetica, sans-serif;
}

@mixin generalFont {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@mixin title {
  color: $title-color;
  font-size: 22px;
  font-weight: bold;

  @include aboveLarge() {
    font-size: 32px;
  }
}
