.hero {
  @include container();
}

.hero-wrapper {
  position: relative;
  margin-top: 15px;

  .hero-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;

    svg {
      color: $title-color;
    }
  }
}

.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 14px;
  min-height: 60vh;
  position: relative;
  width: 100%;

  @include aboveLarge() {
    background-position: center calc(50% + 100px);
  }

  @include aboveXLarge() {
    background-position: center calc(50% + 80px);
    margin-top: 24px;
  }
}

.body {
  @include container();
  margin: 0 auto;
  max-width: 1000px;

  @include aboveMedium() {
    margin-top: 20px;
  }
}

.date {
  color: $secondary-text-color;
}

.title {
  color: $title-color;
  margin-top: 16px;

  @include aboveMedium() {
    font-size: 40px;
  }

  @include aboveLarge() {
    font-size: 50px;
  }

  @include aboveXLarge() {
    font-size: 64px;
  }
}

.subtitle {
  color: $secondary-text-color;
  font-weight: normal;
  margin-top: 24px;
}

.text {
  @include textFont();
  font-size: 18px;
  margin-top: 40px;
  padding-bottom: 80px;

  p {
    margin-top: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 28px;
  }

  ul {
    margin-top: 12px;
    padding-left: 20px;

    li {
      margin: 12px 0;
    }
  }

  a {
    color: $primary-color;
    font-weight: 600;
    text-decoration: underline;
  }

  hr {
    margin: 40px 0;
  }
}
